streamlit==1.57.0
python-dotenv==1.0.1
langchain==1.2.15
langchain-classic==1.0.3
langchain-core==1.2.31
langchain-community==0.4.1
langchain-google-genai==4.2.2
langchain-text-splitters==1.1.1
google-genai==1.73.1
PyPDF2==3.0.1
protobuf==5.29.6
faiss-cpu==1.13.2
